/*20 px padding to create spacing in the table*/
.tableInlineForm td{
  padding-right: 20px;
}

.popover {
  width: 243px;
  opacity: 1!important;
}

.popover-content td{
  padding-right: 0px;
}

/*give the headers some space*/
.tableInlineForm .list_kopregel_data {
  padding: 2px 0px 4px 0px;
}
/* create some spacing in the input fields*/
.tableInlineForm input[type=text], input[type=text] {
  padding: 2px 5px 2px 5px;
}

input[disabled], 
input[readonly], 
select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.fieldsetWarningLeft {
    border: 1px solid #d9534f;
    border-left-width: 5px;
    border-radius: 3px;
}

.fieldsetsuccessLeft {
    border: 1px solid #3c763d;
    border-left-width: 5px;
    border-radius: 3px;
}

.fieldsetWarningLeft .message {
color: #d9534f;
}

fieldset {
    padding: 10px;
    border: 1px solid #A9A9A9;
    border-left-width: 5px;
    border-radius: 3px;
}



/** label **/
.label {
  display: inline;
  padding: .1em .6em .1em;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}