[mysqld]
sql_mode = 'NO_ENGINE_SUBSTITUTION' 
old-passwords = 0
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql/data
wait_timeout = 28800
innodb_log_file_size = 128MB
max_allowed_packet = 128M
general_log_file = /var/lib/mysql/log/general_log.log
general_log = 0
slow_query_log_file = /var/lib/mysql/log/slow_query.log
slow_query_log = 0
long_query_time = 2 
log_queries_not_using_indexes = 0
lower_case_table_names = 1

symbolic-links=0
query_cache_size=1G
tmp_table_size=512M
thread_cache_size=8
myisam_sort_buffer_size=256M
key_buffer_size=512M
!includedir /etc/mysql/conf.d/
